<html>
<head>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/services/srvc-directors.js"></script>
	<script src="app/controllers/ctrl-directors.js"></script>
	<script src="app/components/greet-user.component.js"></script>
	<script src="app/modules/artist-list/artist-list.module.js"></script>
	<script src="app/modules/artist-list/artist-list.component.js"></script>
	<script src="app/modules/movie-list/movie-list.module.js"></script>
	<script src="app/modules/movie-list/movie-list.component.js"></script>
	<script src="app/modules/core/movie.module.js"></script>
	<script src="app/modules/core/movie.service.js"></script>


</head>

<body ng-app="app">
<div ng-controller="DirectorsController">
	{{title}}
	Search: <input ng-model="$ctrl.query" />
	<ul>
		<li ng-repeat="director in directors | filter:$ctrl.query">
			<span>{{director.name}}</span>
			<p>{{director.snippet}}</p>
		</li>
	</ul>
</div>


<greet-user></greet-user>

<artist-list></artist-list>
<movie-list></movie-list>
</body>
</html>